@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
    font-family: "Press Start 2P", serif;
    font-weight: 400;
    font-style: normal;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #150320;
    color: white;
    text-align: center;
}

.game-container {
    position: relative;
}

#gameCanvas {
    background-color: #000;
    border: 2px solid #fff;
}

.game-over {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: red;
    font-size: 30px;
    display: none;
}

#score, #maxScore, #timer {
    margin-top: 10px;
    font-size: 20px;
}

.podio{
    left: 50px;
}
